{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "Client SDK for the Mail-in-a-Box API",
  "author": "Richard Willis <willis.rh@gmail.com>",
  "license": "MIT",
  "maintainers": [
    "Richard Willis <willis.rh@gmail.com>"
  ],
  "repository": {
    "type": "git",
    "url": "https://github.com/badsyntax/mailinabox-api"
  },
  "bugs": {
    "url": "https://github.com/badsyntax/mailinabox-api/issues"
  },
  "keywords": [
    "mailinabox",
    "mail-in-a-box",
    "sdk",
    "typescript",
    "fetch",
    "api"
  ],
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts": {
    "build": "tsc",
    "prepare": "npm run build"
  },
  "devDependencies": {
    "typescript": "^{{#typescriptThreePlus}}3.9{{/typescriptThreePlus}}{{^typescriptThreePlus}}2.4{{/typescriptThreePlus}}"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{npmRepository}}"
  }
{{/npmRepository}}
}
